.doc-button .doc-button--primary {
  background-color: var(--color-orange-600);
  border-color: transparent;
}

.doc-button .doc-button--secondary {
  background-color: var(--color-orange-600);
  border-color: transparent;
}
