.doc-section {
}

.doc-section__header,
.doc-section__content {
  padding: var(--space-3xs);
  max-width: var(--measure-2xl);
  margin-inline: auto;
}

[data-doc-section-bleed="true"] .doc-section__content {
  padding: 0;
  max-width: none;
}
