.home-section {
  padding-top: var(--space-l);
  padding-bottom: var(--space-l);
}
.home-section--header {
  margin-bottom: var(--space-2xs);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.recommendation-wrapper {
  display: flex;
  overflow-x: auto;
}

.recommendation-wrapper--content {
  display: flex;
  gap: var(--gutter, var(--space-s));
}

.recommendation-wrapper a {
  display: block;
  width: 300px;
}
