---
title: Food Component
layout: layouts/base.njk
---

<main id="component" class="[ main ]" tabindex="-1" aria-live="polite">
    <h1 style="margin-bottom:32px">Food Component</h1>
    <section class="doc-food-component__section">
        <h3 class="doc-food-component__section__title">Avatar</h3>
        <div>
            <img width="50" height="50" src=""/>
            <p>Name</p>
        </div>
    </section>
    <section class="doc-food-component__section">
        <h3 class="doc-food-component__section__title">Button</h3>
        <button>Primary</button>
        <button>Secondary</button>
    </section>
    <section class="doc-food-component__section">
        <h3 class="doc-food-component__section__title">Carousel</h3>
    </section>
    <section class="doc-food-component__section">
        <h3 class="doc-food-component__section__title">Chips</h3>
        <label>
            Chips A
            <input type="checkbox">
        </label>
    </section>
    <section class="doc-food-component__section">
        <h3 class="doc-food-component__section__title">Drawer</h3>
    </section>
    <section class="doc-food-component__section">
        <h3 class="doc-food-component__section__title">Input Text</h3>
        <input type="text" placeholder="search"/>
    </section>
    <section class="doc-food-component__section">
        <h3 class="doc-food-component__section__title">Navbar</h3>
        <div style="display:flex; align-items:center;justify-content:space-between;max-width:960px;background:blue;">
            <div>
            <img height="80" width="100"/>
            </div>
            <div>
                <button>Search</button>
                <button>Bookmark</button>
            </div>
        </div>
    </section>
    <section class="doc-food-component__section">
        <h3 class="doc-food-component__section__title">Recipe Card</h3>
        <a href="#" style="text-decoration:none">
        <div style="border-radius:8px; background:grey; max-width:fit-content ">
            <img width="250" height="250"/>
            <h3>Title Recipe</h3>
             <div>
                <div>500</div>
                <button>Love</button>
             </div>
       </div>
       </a>
    </section>
    <section class="doc-food-component__section">
        <h3 class="doc-food-component__section__title">Text Area</h3>
        <textarea rows="3"></textarea>
    </section>
</main>

