---
title: Food Component
layout: layouts/base.njk
---

{%- from "components/recipe-card.njk" import recipeCard -%}

<main id="component" class="[ main ]" tabindex="-1" aria-live="polite">
  <div class="container" style="--max-width: 1240px">
    <section class="home-section">
      <div class="home-section--header">
        <h3>Dash and Go</h3>
        <a href="#">See all</a>
      </div>
      <div class="recommendation-wrapper">
        <div class="recommendation-wrapper--content">
          {{ recipeCard('#', 'https://placehold.co/600x400', 'Recipe A') }}
          {{ recipeCard('#', 'https://placehold.co/600x400', 'Recipe B') }}
          {{ recipeCard('#', 'https://placehold.co/600x400', 'Recipe C') }}
          {{ recipeCard('#', 'https://placehold.co/600x400', 'Recipe D') }}
          {{ recipeCard('#', 'https://placehold.co/600x400', 'Recipe E') }}
        </div>
      </div>
    </section>
    <section class="home-section">
      <div class="home-section--header">
        <h3>Staff Recommendation</h3>
        <a href="#">See all</a>
      </div>
      <div class="recommendation-wrapper">
        <div class="recommendation-wrapper--content">
          {{ recipeCard('#', 'https://placehold.co/600x400', 'Recipe A') }}
          {{ recipeCard('#', 'https://placehold.co/600x400', 'Recipe B') }}
          {{ recipeCard('#', 'https://placehold.co/600x400', 'Recipe C') }}
          {{ recipeCard('#', 'https://placehold.co/600x400', 'Recipe D') }}
          {{ recipeCard('#', 'https://placehold.co/600x400', 'Recipe E') }}
        </div>
      </div>
    </section>
    <section class="home-section">
      <div class="home-section--header">
        <h3>This Week Recipe</h3>
      </div>
      <div class="grid" style="--gutter: var(--space-s)">
        <a href="#">
          <img src="https://placehold.co/600x400" />
        </a>
        <a href="#">
          <img src="https://placehold.co/600x400" />
        </a>
        <a href="#">
          <img src="https://placehold.co/600x400" />
        </a>
        <a href="#">
          <img src="https://placehold.co/600x400" />
        </a>
        <a href="#">
          <img src="https://placehold.co/600x400" />
        </a>
      </div>
    </section>
  </div>
</main>
