---
title: Food Component
layout: layouts/base.njk
---

<main id="component" class="[ main ]" tabindex="-1" aria-live="polite">
  <section>
    <h2>Recommendation Title A</h2>
    <div class="recommendation-wrapper">
      <div class="flex">
        <a href="#">
          <img width="300" height="100" />
        </a>
        <a href="#">
          <img href="#" width="300" height="100" />
        </a>
        <a href="#">
          <img href="#" width="300" height="100" />
        </a>
        <a href="#">
          <img href="#" width="300" height="100" />
        </a>
        <a href="#">
          <img href="#" width="300" height="100" />
        </a>
        <a href="#">
          <img href="#" width="300" height="100" />
        </a>
        <a href="#">
          <img href="#" width="300" height="100" />
        </a>
        <a href="#">
          <img href="#" width="300" height="100" />
        </a>
        <a href="#">
          <img href="#" width="300" height="100" />
        </a>
        <a href="#">
          <img href="#" width="300" height="100" />
        </a>
        <a href="#">
          <img href="#" width="300" height="100" />
        </a>
      </div>
    </div>
  <section>
</main>